@model Lr1.Models.DTP

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Новое ДТП</h2>

@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.Name, "Название ДТП")
    <br />
    @Html.EditorFor(model => model.Name)
    <br />
    <br />
    @Html.LabelFor(model => model.Type, "Тип нарушения")
    <br />
    @Html.EditorFor(model => model.Type)
    <br />
    <br />
    @Html.LabelFor(model => model.Price, "Размер штрафа")
    <br />
    @Html.EditorFor(model => model.Price)
    <br />
    <br />
    <input type="submit" value="Добавить" />
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Отдел ДАИ</title>
</head>
<body>
    <div>
        <h3>Регистрация ДТП</h3>
        <table>
            <tr>
                <td><p>Название ДТП </p></td>
                <td><p>Тип нарушения </p></td>
                <td><p>Размер штрафа </p></td>
                <td></td>
            </tr>
            @foreach (var b in ViewBag.Dtps)
            {
        <tr>
            <td><p> @b.Name </p></td>
            <td><p> @b.Type </p></td>
            <td><p> @b.Price </p></td>
            <td><p> <a href="/AddDTP/Delete/@b.Id"> Удалить </a></p></td>
            <td><p> <a href="/AddDTP/EditDTP/@b.Id"> Редактировать </a></p></td>
        </tr>
            }
        </table>
    </div>
</body>
</html>