@model Lr1.Models.DTP

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Resources.Resource.Ndtp</h2>

@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.Name, Resources.Resource.Name)
    <br />
    @Html.EditorFor(model => model.Name)
    <br />
    <br />
    @Html.LabelFor(model => model.Type, Resources.Resource.Type)
    <br />
    @Html.EditorFor(model => model.Type)
    <br />
    <br />
    @Html.LabelFor(model => model.Price, Resources.Resource.Price)
    <br />
    @Html.EditorFor(model => model.Price)
    <br />
    <br />
    <input type="submit" value="@Resources.Resource.Add" />
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@Resources.Resource.DAI</title>
</head>
<body>
    <div>
        <h3>@Resources.Resource.Dtp</h3>
        <table>
            <tr>
                <td><p>@Resources.Resource.Name</p></td>
                <td><p>@Resources.Resource.Type</p></td>
                <td><p>@Resources.Resource.Price</p></td>
                <td></td>
            </tr>
            @foreach (var b in ViewBag.Dtps)
            {
        <tr>
            <td><p> @b.Name </p></td>
            <td><p> @b.Type </p></td>
            <td><p> @b.Price </p></td>
            <td><p> <a href="/AddDTP/Delete/@b.Id"> @Resources.Resource.Delete </a></p></td>
            <td><p> <a href="/AddDTP/EditDTP/@b.Id"> @Resources.Resource.Edit </a></p></td>
        </tr>
            }
        </table>
    </div>
</body>
</html>