@{
    ViewBag.Title = "Редагування інформації про ДТП";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using Lr1.Models
@model DTP
<h2>Дорожньо-транспортна пригода № @Model.Id</h2>
@using (Html.BeginForm("Edit", "Home", FormMethod.Post))
{
    <fieldset>
        @Html.HiddenFor(m => m.Id)
        <p>
            @Html.LabelFor(m => m.Name, "Назва")
            <br />
            @Html.EditorFor(m => m.Name)
        </p>
        <p>
            @Html.LabelFor(m => m.Type, "Тип")
            <br />
            @Html.EditorFor(m => m.Type)

        </p>
        <p>
            @Html.LabelFor(m => m.Price, "Ціна")
            <br />
            @Html.EditorFor(m => m.Price)
        </p>
        <p>
            @Html.LabelFor(m => m.Pdrs, "Правила дорожнього руху")
            <br />
            @{
                List<PDR> pdrs = ViewBag.Pdrs;
                foreach (PDR p in pdrs)
                {
                    <input type="checkbox" name="selectedStations" value="@p.Id"
                           @(Model.Pdrs.Contains(p) ? "checked=\"checked\"" : "") />@p.Name <br />
                    }
            }

        </p>
        <p><input type="submit" value="Відредагувати" /></p>
    </fieldset>
}